@import '../../theme/default.scss';

$transition-bg: all 0.9s cubic-bezier(.55,0,.1,1);

.main {

  &-bg {
    .t1 {
      position: fixed;
      right: -80vw;
      bottom: -100vh;
      width: 80vw;
      height: 100vh;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      background-image: linear-gradient(to left, $c1, $c2);
      z-index: 2;
      transition: $transition-bg;
      transition-delay: 0.1s;
      @include mobile {
        height: calc(100vh - #{($greeting-height-mobile + $description-height-mobile)})
      }
      
      &.s2, &.sm {
        right: 0;
        bottom: 0;
      }
    }
    .t2 {
      position: fixed;
      right: -80vw;
      bottom: -100vh;
      width: 80vw;
      height: 100vh;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      background-color: $c3;
      z-index: 1;
      transition: $transition-bg;
      transform: scale(2);
      @include mobile {
        height: calc(100vh - #{($greeting-height-mobile + $description-height-mobile)})
      }

      &.s2, &.sm {
        right: 10vw;
        bottom: -5vh;
      }
    }
  }

  &-greetings {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    transition: $transition;
    z-index: 3;

    @include mobile {
      width: 100%;
    }
  
    .typed-cursor {
      font-size: 80px;
      color: $c3;
      font-weight: bolder;
      margin-left: 10px;
      margin-top: -15px;
      animation: blink 0.9s step-end infinite;
      transition: $transition;
    }
  
    &.s2, &.sm {
      transform: translate(0);
      top: 2em;
      left: 2em;

      @include tablet {
        top: 1em;
        left: 1em;
      }

      @include mobile {
        top: 0;
        left: 0;
      }
  
      .typed-cursor {
        font-size: 1pt;
        color: white;
      }
    }
  }

}

@keyframes blink {
  from, to { color: transparent; }
  50% { color: $c3; }
}