@import '../../theme/default.scss';

.greeting {
  display: table;
  font-weight: bolder;
  font-size: 55pt;
  background-image: linear-gradient(to left, $c1, $c2);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: $transition;

  &.s2, &.sm {
    font-size: 50pt;
    color: white;
    padding: 0 20px;
    background: $c1;
    background: -webkit-linear-gradient(to right, $c1, $c2);
    background: linear-gradient(to right, $c1, $c2);
    height: 100px;
    line-height: 100px;
  }
}


