@font-face {
  font-family: 'inter-ui';
  src: url('../assets/Inter-UI-Regular.woff2') format('woff2'),
       url('../assets/Inter-UI-Regular.woff') format('woff');
 }

 @font-face {
  font-family: 'inter-ui-medium';
  src: url('../assets/Inter-UI-Medium.woff2') format('woff2'),
       url('../assets/Inter-UI-Medium.woff') format('woff');
 }

 @font-face {
  font-family: 'inter-ui-bold';
  src: url('../assets/Inter-UI-Bold.woff2') format('woff2'),
       url('../assets/Inter-UI-Bold.woff') format('woff');
 }

 @font-face {
  font-family: 'inter-ui-black';
  src: url('../assets/Inter-UI-Black.woff2') format('woff2'),
       url('../assets/Inter-UI-Black.woff') format('woff');
 }